@font-face {
  font-family: Zelda;
  src: url("lttp-font.ttf");
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  font-family: "Press Start 2P";
  user-select: none;
  background-color: black;
  cursor: default;
}

/* color: #e6a800 !important; */
/* background: #333 !important; */

.leaflet-container {
  background: black !important;
}

.leaflet-control-layers {
  border: 1px solid #e6a800 !important;
  background: black !important;
  font-family: "Press Start 2P" !important;
  font-size: 12px !important;
  color: whitesmoke !important;
}

.leaflet-popup-content-wrapper {
  background: #282828 !important;
}

.marker-inactive {
  filter: grayscale() !important;
}

button {
  margin: 4px;
  color: whitesmoke;
  background-color: #282828;
  border-color: #e6a800;
  border-bottom: 1px solid hsl(43, 74%, 49%);
  border-right: 1px solid goldenrod;
  font-family: "Press Start 2P";
  font-size: 12px;
  margin: -4px 8px 10px 10px;
}

.marker-notes:focus {
  outline-style: inset;
  outline-color: #e6a800;
}

button:focus {
  outline: none;
}

button:disabled {
  color: grey;
  border-color: grey;
}

button:focus {
  outline: none;
}

button:disabled {
  color: grey;
  border-color: grey;
}

.note-hover {
  animation: blink-animation 0.8s steps(2, start) infinite;
}

@keyframes blink-animation {
  from {
    visibility: visible;
    filter: brightness(250%);
  }
  to {
    visibility: hidden;
  }
}
